h1 {
  text-shadow: 0 0 5px #FD5F00, 0 0 8px #00f9ff;
}
body{
  background-image: url("https://us.v-cdn.net/5020794/uploads/FileUpload/7e/0270592e0875d7b559224fbae1bbf9.png");
  background-repeat: repeat;
  background-position: top;
}

p {
  font-family:'Courier New', Courier, monospace;
}

div {
  color:black;
  text-align: center;
margin: 0 auto;
background-color:rgb(252, 234, 184);
width: 600px;
}

#party {
  padding: 20px;
}